h1,h2,h3,h4,h5,h6{
    text-align: center;
    color: black;
    background: white;
    font-size:40px;
    }
body{
    text-align: center;
    color: black;
    background: white;
    font-size:20px;
    }
a:link {
    text-decoration: none;
    color: black;
  }
a:active {
    text-decoration: blink;
  }
a:hover {
    text-decoration: underline;
    color: blue;
  }
a:visited {
    text-decoration: none;
    color: black;
  }

#red {color: red;}
#green {color: green;}
    
