h1,h2,h3,h4,h5,h6{
    text-align: center;
    color: black;
    background: white;
    font-size:40px;
    }
body{
    text-align: center;
    color: black;
    background: white;
    font-size:20px;
    }
a {
    display: block;
    cursor: pointer;
  }
#red {color: red;}
#green {color: green;}
    
